services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: demo-db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${DB_PASSWORD}
      - MSSQL_PID=Developer
    ports:
      - '${PORT_DB}:1433'
    volumes:
      - ./data/mssql:/var/opt/mssql/data
    networks:
      - demo-network

  # api:
  #   build:
  #     context: ./src/Backend
  #     dockerfile: Dockerfile
  #   container_name: demo-api
  #   environment:
  #     - ConnectionStrings__DefaultConnection=Server=db;Database=${DB_NAME};User Id=${DB_USER};Password=${DB_PASSWORD};TrustServerCertificate=True;
  #     - ASPNETCORE_ENVIRONMENT=Development
  #   ports:
  #     - '${PORT_API}:8080'
  #   depends_on:
  #     - db
  #   networks:
  #     - demo-network

  # web:
  #   build:
  #     context: ./src/Frontend
  #     dockerfile: Dockerfile
  #   container_name: demo-web
  #   ports:
  #     - '${PORT_WEB}:80'
  #   depends_on:
  #     - api
  #   networks:
  #     - demo-network

networks:
  demo-network:
    driver: bridge
